BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "clk_ref_c" 200.000000 MHz ;
LOCATE COMP "rst" SITE "4" ;
LOCATE COMP "clk_out" SITE "11" ;
LOCATE COMP "clk_in" SITE "12" ;
LOCATE COMP "clk_ref" SITE "13" ;
LOCATE COMP "clk_out_8x" SITE "14" ;
